# Configuration Django - Variables d'environnement pour python-decouple
# python-decouple lit automatiquement ce fichier .env

# Configuration Base de données MySQL
DB_NAME=le_nom_de_ta_DB
DB_USER=le_nom_utilisateur
DB_PASSWORD=ton_mot_de_passe
DB_HOST=localhost
DB_PORT=ta_port

# Configuration Email Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=ton_email_gmail
EMAIL_HOST_PASSWORD=ton_mot_de_passe
DEFAULT_FROM_EMAIL=ton_email_gmail_par_defaut
# Email admin
ADMIN_NOTIFICATION_EMAIL=fassane348@gmail.com

# Clé secrète Django (génère avec: python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())')
SECRET_KEY=django-insecure-ff3=.................................

# Debug mode
DEBUG=False


# Configuration Google OAuth2
GOOGLE_OAUTH2_CLIENT_ID=votre_client_id_google
GOOGLE_OAUTH2_CLIENT_SECRET=votre_client_secret_google
GOOGLE_OAUTH2_REDIRECT_URI=http://127.0.0.1:8000/google/callback/
